<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div align="center" >
            <input type="text" placeholder="username" name="username">
            <br><br>
            <input type="text" placeholder="password" name="pass">
            <br>
            <a href="register.html">Register</a>
            <br>
            <a href="">Forgot password?</a>
            <br>
            <input value="submit" type="button">
        </div>
    </body>
</html>