<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div align="center" >
            <form>
                <div>
                    <input type="text" placeholder="username" name="username" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>
                    <br><br>
            <input type="text" placeholder="password" name="pass" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            <br>
            <a href="register.html">Register</a>
            <br>
            <a href="" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
            <br>
            <input value="submit" type="button">
            </form>
        </div>
    </body>
</html>