<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Register</title>
    </head>
    <body>
        <nav class="bg-gray-800 p-4 text-center">
            <a href="/" class="text-white px-2 hover:text-gray-300">Home</a>
            <a href="/login" class="text-white px-2 hover:text-gray-300">Login</a>
            <a href="/register" class="text-white px-2 hover:text-gray-300">SignUp</a>
        
        </nav>
        <div align="center" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Register</h1>
            <form class="mx-auto mt-16 max-w-xl sm:mt-20">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div>
                      <div class="mt-2.5">
                        <input type="text" placeholder="first-name" name="first-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                      </div>
                    </div>
                    <div>
                      <div class="mt-2.5">
                        <input type="text" placeholder="sur-name" name="sur-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                      </div>
                    </div>
                    <br>
                </div>
                <div class="flex items-center justify-center space-x-6">
                    <div>
                        <input type="radio" id="userAccount" name="role" value="user" class="text-indigo-600" checked>
                        <label for="userAccount" class="text-gray-700">User Login</label>
                    </div>
                    <div>
                        <input type="radio" id="sellerAccount" name="role" value="seller" class="text-indigo-600">
                        <label for="sellerAccount" class="text-gray-700">Seller Login</label>
                    </div>
                </div>
                <br><br>
                <div align="center">
                    <div>
                        <div class="mt-2">
                            <input type="text" placeholder="username (may or maynot be email)" name="username">
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="mt-2">
                            <input type="text" placeholder="DOB" name="dob">
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="mt-2">
                            <input type="text" placeholder="email address" name="email">
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="mt-2">
                            <input type="text" placeholder="password" name="password">
                        </div>
                    </div>
                    <div>
                        <div class="mt-2">
                            <input type="text" placeholder="re-enter password" name="confirmpassword">
                        </div>
                    </div>
                    <br><br>
                    <button type="submit" name="register-button" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">submit</button>                </div>
            </form>
        </div>
    </body>
</html>