<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Login</title>
    </head>
    <body>
        <nav class="bg-gray-800 p-4 text-center">
            <a href="/index" class="text-white px-2 hover:text-gray-300">Home</a>
            <a href="/login" class="text-white px-2 hover:text-gray-300">Login</a>
            <a href="/register" class="text-white px-2 hover:text-gray-300">SignUp</a> 
        </nav>

        <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
          <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
            <div class="mx-auto max-w-5xl">
              <div class="gap-4 sm:flex sm:items-center sm:justify-between">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">My wishlist</h2>
                </div>
              </div>

        <ul role="list" class="divide-y divide-white">

            <li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 1</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li>
            <li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 2</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li><li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 3</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li><li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 4</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li>
            <li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 5</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li><li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 6</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li><li class="flex justify-between gap-x-6 py-5 bg-gray">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-white">Product 7</p>
                    <p class="mt-1 truncate text-xs/5 text-white">Pwejdcnerijcviojn</p>
                  </div>
                </div>
            </li>
        </ul>
    </body>
</html>