<nav class="bg-gray-800 p-4 text-center">
    <a href="/" class="text-white px-2 hover:text-gray-300 {{ current_page == 'home' ? 'underline' : '' }}">Home</a>
    <a href="/login" class="text-white px-2 hover:text-gray-300 {{ current_page == 'login' ? 'underline' : '' }}">Login</a>
    <a href="/register" class="text-white px-2 hover:text-gray-300 {{ current_page == 'register' ? 'underline' : '' }}">SignUp</a>
</nav>