<li class="flex justify-between gap-x-6 py-5 bg-gray">
    <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-white">{{ title }}</p>
            <p class="mt-1 truncate text-xs/5 text-white">{{ description }}</p>
        </div>
    </div>
</li>