{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="container mx-auto py-8 px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        {% for product in products %}
            {% include 'components/product-card.html.twig' with {'product': product} %}
        {% endfor %}
    </div>
</section>
{% endblock %}