{% extends 'base.html.twig' %}

{% block title %}Thank You for Ordering!{% endblock %}

{% block content %}
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
        <h1 class="mt-10 text-center text-3xl font-bold tracking-tight text-green-600">Thank You for Your Order!</h1>
        
        <p class="mt-4 text-center text-lg text-gray-700">
            We’ve successfully received your order and are currently processing it. You will receive an email confirmation shortly with the details of your purchase.
        </p>
    </div>
{% endblock %}
