{% extends 'base.html.twig' %}

{% block title %}Product Listing{% endblock %}

{% block content %}
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
        <h1 class="mt-10 text-center text-3xl font-bold tracking-tight text-green-600">Thank You for Listing your product!!</h1>
        
        <p class="mt-4 text-center text-lg text-gray-700">
            Product made!!!
        </p>
        
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-2xl">
        <div class="flex flex-col gap-6">
            
        </div>
    </div>
{% endblock %}
