{% extends 'base.html.twig' %}

{% block title %}User Info Wrong{% endblock %}

{% block content %}
<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">User input error</h1>

    <form class="mt-8 space-y-6" method="post" action='/api/user/create' onsubmit="return passwordCheck()">
        {#username #}
        {% if err.username %}
            {% include 'components/form-input.html.twig' with {
                'name': 'username',
                'placeholder':  err.username ,
                'required': true
            } %}
        {% else %}
            {% include 'components/form-input.html.twig' with {
                'name': 'username',
                'value':  old.username ,
                'required': true
            } %}
        {% endif %}

        {#fullname #}
        {% if err.fullname %}
            {% include 'components/form-input.html.twig' with {
                'name': 'name',
                'placeholder':  err.fullname ,
                'required': true
            } %}
        {% else %}
            {% include 'components/form-input.html.twig' with {
                'name': 'name',
                'value':  old.name ,
                'required': true
            } %}
        {% endif %}

        {#email #}
        {% include 'components/form-input.html.twig' with {
            'name': 'email',
            'type': 'email',
            'value': old.email,
            'required': true
        } %}

        {#dob #}
        {% if err.dob %}
            {% include 'components/form-input.html.twig' with {
                'name': 'dob',
                'type': 'date',
                'placeholder': err.dob,
                'required': true
            } %}
        {% else %}
            {% include 'components/form-input.html.twig' with {
                'name': 'dob',
                'type': 'date',
                'value': old.dob,
                'required': true
            } %}
        {% endif %}
        

        {% include 'components/form-input.html.twig' with {
            'name': 'password',
            'id': 'password',
            'type': 'password',
            'placeholder': 'password',
            'required': true,
            'context': 'register'
        } %}

        {% include 'components/form-input.html.twig' with {
            'name': 'password_confirm',
            'id': 'password_confirm',
            'type': 'password',
            'placeholder': null,
            'required': true,
            'context': 'register'
        } %}

        {% include 'components/form-input.html.twig' with {
            'name': 'seller-toggle',
            'label': 'Are you a seller?',
            'type': 'toggle',
            'show_error': true,
            'required': false,
            'value': form.seller_toggle.value is defined ? form.seller_toggle.value : 0,
        } %}

        {% include 'components/button.html.twig' with {
                'type': 'submit',
                'text': 'Create Account',
                'style': 'primary'
            } %}
    </form>

</div>
    
{% endblock %}