{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block content %}
        <a href='/update/users'>Users</a>
        <hr>
        <a href=''>Products</a>
        <hr>
        <a href=''>uvujgv</a>
        <hr>
        <a href="/">Return to Home</a>
{% endblock %}