{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block content %}
<div class="min-h-[50vh] flex items-center justify-center">
    <div class="text-center">
        <a href='/update/users' class="text-4xl font-bold text-gray-900 mb-4">Users</a>
        <hr>
        <a href="/" class="text-indigo-600 hover:text-indigo-500 font-semibold">
            Return to Home
        </a>
    </div>
</div>
{% endblock %}