{% extends 'base.html.twig' %}

{% block title %}My Wishlist jnikn{% endblock %}

{% block content %}
    <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
            <div class="mx-auto max-w-5xl">
                <div class="gap-4 sm:flex sm:items-center sm:justify-between">
                    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">My wishlist</h2>
                </div>
            </div>

            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 mt-6">
                {% if wishlistItems is empty %}
                    <li class="p-4 text-center text-gray-600">
                        Your wishlist is empty
                    </li>
                {% else %}
                    {% for item in wishlistItems %}
                        {% include 'components/wishlist-item.html.twig' with {
                            'id': item.product.id,
                            'wishlistId': item.wishlistid,
                            'title': item.product.title,
                            'description': item.product.description,
                            'price': item.product.price
                        } %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}
